<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders>
        <Console name="ConsoleOut" target="SYSTEM_OUT">
            <PatternLayout pattern="[%d{HH:mm:ss}] [%t/%level] [%logger]: %msg%n"/>
        </Console>
        <Queue name="ServerGuiConsole">
            <PatternLayout pattern="[%d{HH:mm:ss}] [%logger(%level)]: %msg%n"/>
        </Queue>
        <Queue name="DiscordLogListeners">
            <PatternLayout pattern="[%d{HH:mm:ss}] [%t/%level] [%logger]: %msg%n"/>
        </Queue>
        <RollingRandomAccessFile name="File" fileName="logs/latest.log" filePattern="logs/%d{yyyy-MM-dd}-%i.log.gz">
            <PatternLayout pattern="[%d{HH:mm:ss}] [%t/%level] [%logger]: %msg%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy/>
                <OnStartupTriggeringPolicy/>
            </Policies>
        </RollingRandomAccessFile>
    </Appenders>
    <Loggers>
        <Logger name="org.springframework.boot.context.embedded.AnnotationConfigEmbeddedWebApplicationContext"
                level="ERROR"/>
        <Logger name="org.springframework.boot.context.embedded.tomcat.TomcatEmbeddedServletContainer" level="ERROR"/>
        <Logger name="org.springframework.boot.web.servlet.ServletRegistrationBean" level="ERROR"/>
        <Logger name="org.springframework.boot.web.servlet.FilterRegistrationBean" level="ERROR"/>
        <Logger name="org.springframework.jmx.export.annotation.AnnotationMBeanExporter" level="ERROR"/>
        <Root level="ALL">
            <AppenderRef ref="ConsoleOut" level="INFO"/>
            <AppenderRef ref="File"/>
            <AppenderRef ref="ServerGuiConsole" level="INFO"/>
            <AppenderRef ref="DiscordLogListeners" level="INFO"/>
        </Root>
    </Loggers>
</Configuration>